.Instruments{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}
.Instruments img {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.Instruments table {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Instruments table thead {
    width: 100%;
}

.Instruments table tbody{
    width: 100%;
}

.active{
    color: rgb(231, 15, 39, 0.5) ;
}