
tr{
    border-bottom: 1px solid lightgray;
    display: flex;   
}

th{
    padding: 20px 0px;
    
}

img{ 
    width: 20px;
    height: 15px;
    margin-right: 10px;
}

th{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: normal;
}

th:first-child{
    width: 400px;
    font-weight: bold;
}
th:nth-child(2){
    width: 150px;
    
}

th:nth-child(3){
    width: 150px;
}

th:nth-child(4){
    
    width: 150px;
}


.FavoriteCompanyItem button {
    margin-left: 100px;
    border: 2px solid red;
    color: red;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 20px;
    transition: 0.2s;
}

.FavoriteCompanyItem button:hover{
    background-color: red;
    color: #fff;
    transition: 0.2s;
}