.panginator{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.panginator ul {
    display: flex;
}

.panginator ul li{
    list-style: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

.panginator ul li:hover{
    border-radius: 50%;
    background: red;
    color: #fff;
}
.panginator ul li a {
    text-decoration: none;
    color: black
} 